.button {
    -fx-background-radius: none;
    -fx-border-color: none;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Century Gothic";
}

{
    -fx-background-color: #78a895;
}

