.button {
    -fx-background-radius: none;
    -fx-border-color: none;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12pt;
    -fx-background-color: #286d51;
    -fx-text-fill: #c5d9d1;
}

.button .set {
    -fx-background-color: #246249;
    -fx-text-fill: #78a895;
}

.mapButton {
    -fx-font-size: 9pt;
    -fx-background-color: #286d51;
}

.mapButton .set {
    -fx-background-color: #246249;
    -fx-text-fill: #78a895;
}

.label {
    -fx-font-family: "Century Gothic";
}

.todayWeatherLabels .text {
    -fx-stroke: grey;
    -fx-stroke-width: 0.5pt;
    -fx-font-weight: bold;
}

.root {
    -fx-background-color: #afc5bc;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #afc5bc;
}

.radio-button .radio {
    -fx-background-insets: 0;
}

#anchorPane {
    -fx-background-color: #4b7e6a;
    -fx-border-width: 1pt;
    -fx-border-color: #377059;
}

.hikeLabels {
    -fx-text-fill: white;
}

#hikeName {
    -fx-font-size: 14px;
}

#maxTemp {
    -fx-font-size: 18px;
}