.button {
    -fx-background-radius: none;
    -fx-border-color: none;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12pt;
    -fx-background-color: #286d51;
    -fx-text-fill: #c5d9d1;
}

.button .set {
    -fx-background-color: #246249;
    -fx-text-fill: #78a895;
}

.mapButton {
    -fx-font-size: 9pt;
    -fx-background-color: #286d51;
}

.mapButton .set {
    -fx-background-color: #246249;
    -fx-text-fill: #78a895;
}

.label {
    -fx-font-family: "Century Gothic";
}

.todayWeatherLabels .text {
    -fx-stroke: grey;
    -fx-stroke-width: 1pt;
}

.root {
    -fx-background-color: #78a895;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #78a895;
}

.radio-button .radio {
    -fx-background-insets: 0;
}

#anchorPane {
    -fx-background-color: #246249;
}